<div class="row jumbotron">
    <h1>Delete View</h1>

<!--<pre>{{$ctrl|json}}</pre>-->
    <select ng-model="$ctrl.selectedEmployee"
            ng-options="item as item.Name for item in $ctrl.employees">
        <option value="">Select Account</option>
    </select>

    <form>
        <div class="form-group">
            <label>
                Id:
                <input type="text" class="form-control" ng-model="$ctrl.selectedEmployee.Id">
            </label>
            </div>
        <div class="form-group">
            <label>
                Name:
                <input type="text" class="form-control" ng-model="$ctrl.selectedEmployee.Name">
            </label>
        </div>
        <div class="form-group">
            <label>
                Age:
                <input type="text" class="form-control" ng-model="$ctrl.selectedEmployee.Age">
            </label>
        </div>
        <div class="form-group">
            <label>
                Salary:
                <input type="number" class="form-control" id="salary" ng-model="$ctrl.selectedEmployee.Salary">
            </label>
        </div>
        <button type="button" ng-click="$ctrl.deleteEmployee()">Delete selected employee</button>
    </form>
  
